<!-- <html>
  <head>
    <style>
    </style>
  </head>
<body>
  {{if .}}
    <table>
     <tr class="coulmnheader">
        <td>First Name</td>
        <td>Last Name</td>
     </tr>
     {{range $Person := .}}
       <tr>
         <td>{{$Person.FirstName}}</td>
         <td>{{$Person.LastName}}</td>
       </tr>
      {{end}} 
    </table>
    {{else}}
     <div class="emplist">Invalid Path</div>
    {{end}} 
</body>
</html> -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      .container{
        width:50%
      }
      .emplist{
        text-align: center;
        font-size: 25px;
        background: yellow;
      }
    </style>
  </head>
  <body style="background-color: rgb(198, 253, 235);">
    <div class="container">
  {{if .}}
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
        </tr>
      </thead>
      {{range $Person := .}}
      <tbody>
        <tr>
          <td>{{$Person.Id}}</td>
          <td>{{$Person.FirstName}}</td>
          <td>{{$Person.LastName}}</td>
        </tr>
      </tbody>
      {{end}} 
    </table>
    {{else}}
     <div class="emplist">Invalid Path</div>
    {{end}} 
  </div>
 
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>